<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Hello, world!</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <form method="POST">
                    <label class="sr-only">Please input password</label>
                    <input type="text" class="form-control" name="password" placeholder="{{ password }}">
                    <button type="submit" class="btn btn-primary btn-block mt-2" name="action">Submit</button>
                </form>
              </div>
              <div class="col-sm">
                <div class="col">
                    <label for="password_id">Password</label>
                    <input type="text" class="form-control" placeholder="{{ password }}" readonly>
                </div>
                <div class="col">
                    <label for="prediction_id">Prediction</label>
                    <input type="text" class="form-control" placeholder="{{ prediction }}" readonly>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>